main {
  margin: 0 auto;
}

.wrapper {
  width: min(900px, 100% - 3rem);
  padding: 1rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column-reverse;
}

table {
  width: 100%;
  border-collapse: collapse;
}

caption,
th,
td {
  padding: 1rem;
}

caption,
th {
  text-align: left;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: -8rem;
}

caption {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  background: hsl(0 0% 73% /0.5);
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 73% /0.1);
}

@media (max-width: 720px) {
  th {
    display: none;
  }
  td {
    display: block;
    padding: 0.75rem 1rem;
  }

  td:first-child {
    padding-top: 1rem;
  }

  td:last-child {
    padding-bottom: 1rem;
  }

  td::before {
    content: attr(data-cell) ": ";
    font-weight: 700;
    text-transform: capitalize;
  }
}

@media (max-width: 1000px) {
  .pagination {
    margin-bottom: 0;
  }
}
